<!-- IF S_JX_CAN_CHGPOSTTIME -->
	<form method="post" id="mcp_chgposttime" action="{U_POST_ACTION}">

	<fieldset>
	<dl>
		<dt><label>{L_JX_CHANGE_POST_TIME}{L_COLON}</label></dt>
		<dd style="margin-top:3px;">
				<input type="text" class="inputbox autowidth" size="4" maxlength="4" name="jx_year" value="{JX_POST_DATE_YEAR}" /> -
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_month" value="{JX_POST_DATE_MONTH}" /> -
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_day" value="{JX_POST_DATE_DAY}" />&nbsp;<span><strong>{L_JX_CHANGE_POST_TIME_DATE}</strong></span><br />
		</dd>
		<dd style="margin-top:3px;">
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_hour" value="{JX_POST_TIME_HOUR}" /> :
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_minute" value="{JX_POST_TIME_MINUTE}" />&nbsp;<span><strong>{L_JX_CHANGE_POST_TIME_TIME}</strong></span><br />
		</dd>
		<dd style="margin-top:3px;">
			<input type="submit" class="button2" name="action[chgposttime]" value="{L_SUBMIT}" />
			<br />
		</dd>
	</dl>
	{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->
